.footer {
  text-align: center; /* Center the text */
  padding: 0.5rem; /* Reduce padding to make the footer less tall */
  position: fixed; /* Stick the footer to the bottom */
  bottom: 0;
  width: 100%; /* Full width footer */
  background-color: var(--footer-background-color);
  color: var(--footer-font-color);
  left: 0;
  display: flex; /* Make the footer a flex container */
  flex-direction: column; /* Stack the paragraphs vertically */
  justify-content: space-between; /* Distribute the child elements evenly */
  align-items: center; /* Center the content horizontally */
}





@media (max-width: 768px) {
  .footer {
    font-size: 0.8rem; /* Smaller text on mobile */
  }
}