.header {
  background-color: #007bff;
  padding: 0 20px; 
  display: flex; 
  align-items: center; 
  height: 60px; 
}

.navbar {
  display: flex;
  justify-content: space-around; 
  width: 100%;
}

.nav-link {
  color: #fff;
  font-weight: bold;
}

.nav-link:hover {
  color: #ffcc00;
}
