.header {
  padding: 0 20px; 
  display: flex; 
  align-items: center; 
  height: 60px; 
}

.navbar {
  display: flex;
  justify-content: space-around; 
  width: 100%;
}

.nav-link {
  font-weight: bold;
}


.header .dark-mode-toggle {
  font-size: 0.8em; /* Adjust font size */
  padding: 5px 10px; /* Adjust padding */
  border-radius: 4px; /* Adjust border radius */
  background-color: #333; /* Example background color */
  color: #fff; /* Example text color */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.header .dark-mode-toggle:hover {
  background-color: #555; /* Darker background on hover */
}