.about h1 {
    margin-bottom: 20px;
    padding-top: 10px;
}
a {
  color: var(--header-link-color); /* Use the variable for link color */
  text-decoration: none;
  font-weight: 500;
}

.readme-link {
  margin-left: 0.3em; /* Adjust as needed */
}


a:hover {
  color: var(--header-link-hover-color); /* Hover color for links */
}
