.home {
  text-align: center;
}
.home h1 {
  margin-bottom: 20px; /* add space between title and search bar */
  padding-top: 10px;
}

.home input {
  /* add styles to all input fields inside .home container */
  background-color: #f7f7f7; /* light gray background */
  border: 1px solid #ccc; /* light gray border */
  padding: 10px; /* add some padding */
  border-radius: 5px; /* rounded corners */
  color: #333; /* dark gray text color */
  margin-right: 20px; /* add space between input and button */
}
.get-weather-btn {
  /* add some basic styling to the button */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.get-weather-btn:hover {
  background-color: #3e8e41;
}
.error-message {
  color: red;
  margin-top: 10px;
}



.home .weather-card {
  margin-top: 20px; /* add 30px margin top to the WeatherCard container */
}

/* src/pages/Contact.css */
