#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Make app-container take up the full height of #root */
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
