:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-background-color: #333;
  --footer-background-color: #333;
  --header-font-color: #fff;
  --footer-font-color: #fff;
  --header-link-color: #fff; /* Navbar link color for dark mode */
  --header-link-hover-color: #535bf2; /* Hover color for dark mode */
}


:root.light-mode {
  color: #213547;
  background-color: #A1C9F2;
  --header-background-color: #E0F2F1;
  --footer-background-color: #E0F2F1;
  --header-font-color: #213547; 
  --footer-font-color: #213547; 
  --header-link-color: #213547; /* Navbar link color for light mode */
  --header-link-hover-color: #747bff; /* Hover color for light mode */
}
/* #E0F2F1; */



:root.dark-mode {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --header-background-color: #333;
  --footer-background-color: #333;
  --header-font-color: #fff;
  --footer-font-color: #fff;
  --header-link-color: #fff; /* Navbar link color for dark mode */
  --header-link-hover-color: #535bf2; /* Hover color for dark mode */
}



a {
  font-weight: 500;
 
  text-decoration: inherit;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* Make the body cover the full screen */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}



#root {
  height: 100%; /* Make #root take up the full height of the viewport */
  display: flex;
  flex-direction: column;
   width: 100%;
}

.app-container {
  /* Make the App container cover the full screen */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
   max-width: 100%; /* Add this line */
  box-sizing: border-box; /* Add this line */
}

.main {
  /* Make the main section flexible and take up the available space */
  flex: 1;
  overflow-y: auto;
  padding: 60px 0;

max-width: 100%;
box-sizing: border-box;
}
.app-container header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  
  background-color: var(--header-background-color);
  color: var(--header-font-color);
  padding: 10px;
}
.app-container header a {
  color: var(--header-link-color); /* Use variable for navbar link color */
  text-decoration: none;
}

.app-container header a:hover {
  color: var(--header-link-hover-color); /* Use variable for navbar link hover color */
}


.app-container footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--footer-background-color);
  color: var(--footer-font-color);
  padding: 10px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: var(--header-link-hover-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 4px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  transition: background-color 0.3s ease;
}
button:hover {
  border-color: #646cff;
}

.dark-mode-btn {
   font-size: 0.6em; /* Smaller font size */
  padding: 2px 6px; /* Smaller padding */
  
}

.dark-mode-btn:hover {
  background-color: #555; /* Lighter shade for hover effect */
}

.get-weather-btn {
  font-size: .9em; /* Smaller font size */
  padding: 8px 12px; /* Smaller padding */
  
}

.get-weather-btn:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
